<main>
  <p class="text-xl text-center alert alert-info font-poppins rounded-2xl" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="text-xl text-center alert alert-danger font-poppins rounded-2xl" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
