<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Fitness", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section>
         <nav class="bg-gray-800 flex justify-between items-center px-8 py-3">
            <a href={"#"} class="text-white font-pacifico text-2xl font-light header"> Workouts </a>
            <div class="flex gap-6">
              <a href={"#"} class="text-white hover:bg-gray-600 py-2 px-3 rounded-lg transition-all duration-300">Profile</a>
              <a href={"#"} class="text-white hover:bg-gray-600 py-2 px-3 rounded-lg transition-all duration-300">Activity history</a>
              <a href={Routes.workout_template_index_path(@conn, :index)} class="text-white hover:bg-gray-600 py-2 px-3 rounded-lg transition-all duration-300">Workout</a>
              <a href={Routes.exercise_index_path(@conn, :index)} class="text-white hover:bg-gray-600 py-2 px-3 rounded-lg transition-all duration-300">Exercises</a>
              <a href={"#"} class="text-white hover:bg-gray-600 py-2 px-3 rounded-lg transition-all duration-300">Scoreboard</a>
            </div>
            <%= render "_user_menu.html", assigns %>
          </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
