@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400&display=swap');


.scoreboard {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  padding: 2rem;
}

.scoreboard h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.users {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.user {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.2s ease-out;
}

.user:hover {
  transform: translateY(-5px);
}

.user-info {
  padding: 1rem;
}

.user-info .date {
  font-size: 1.2rem;
  color: #ffaa00;
}

.user-info .name {
  display: block;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  margin-top: 1rem;
}

.user-info .name:hover {
  color: #ffaa00;
}

.user-info .username {
  font-size: 1rem;
  color: #aaa;
  margin-left: 0.5rem;
}

.user-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.user-score .score-label {
  font-size: 1.2rem;
  color: #fffcfc;
}

.user-score .score {
  font-size: 2rem;
  font-weight: bold;
  color: #ffaa00;
}



@keyframes blinkH1 {
  0%   {
      color: #fff;
    text-shadow: 0px 0px 20px #00aad4;
  }
  19%   {
      color: #fff;
    text-shadow: 0px 0px 20px #00aad4;
  }
  20% {
      color: #9E9E9E;
    text-shadow: none;  
  }
  21% {
      color: #fff;
    text-shadow: 0px 0px 20px #00aad4;  
  }
  60% {
      color: #fff;
    text-shadow: 0px 0px 20px #00aad4;  
  }
  61% {
      color: #9E9E9E;
    text-shadow: none;  
  }
  62% {
      color: #fff;
    text-shadow: 0px 0px 20px #00aad4;  
  }
  63% {
      color: #9E9E9E;
    text-shadow: none;  
  }
  64% {
      color: #fff;
    text-shadow: 0px 0px 20px #00aad4;  
  }
  100% {
      color: #fff;
    text-shadow: 0px 0px 20px #00aad4;  
  }
}

@keyframes blinkH1After {
  0%   {
      color: #00aad4;
  }
  19%   {
      color: #00aad4;
  }
  20% {
      color: transparent; 
  }
  21% {
      color: #00aad4;  
  }
  60% {
      color: #00aad4;  
  }
  61% {
      color: transparent; 
  }
  62% {
      color: #00aad4;  
  }
  63% {
      color: transparent; 
  }
  64% {
      color: #00aad4;  
  }
  100% {
      color: #00aad4;  
  }
}

@keyframes blinkH1Before {
  0%   {
      background: #00aad4;
  }
  19%   {
      background: #00aad4;
  }
  20% {
      background: transparent; 
  }
  21% {
      background: #00aad4;  
  }
  60% {
      background: #00aad4;  
  }
  61% {
      background: transparent; 
  }
  62% {
      background: #00aad4;  
  }
  63% {
      background: transparent; 
  }
  64% {
      background: #00aad4;  
  }
  100% {
      background: #00aad4;  
  }
}

.header {
  font-weight: 400;
  margin: 0px;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 0px 0px 20px #00aad4;
  -webkit-animation: blinkH1 5s infinite;
  animation: blinkH1 5s infinite;
}

.header:after {
  top: 0;
  left: 0;
  color: #00aad4;
  z-index: -1;
  filter: blur(15px);
  -webkit-animation: blinkH1After 5s infinite;
  animation: blinkH1After 5s infinite;
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}


/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.cta {
  display: flex;
  padding: 11px 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg)
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #FBC638;
  }

  100% {
    fill: white;
  }
}

/* Customize the label (the checkbox-btn) */
.checkbox-btn {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-btn label {
  cursor: pointer;
  font-size: 14px;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2.5px solid #a2a1a1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.checkbox-btn input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 40%;
  width: 10px;
  height: 14px;
  border: 2px solid #0ea021;
  -webkit-filter: drop-shadow(0px 0px 10px #0ea021);
          filter: drop-shadow(0px 0px 10px #0ea021);
  border-width: 0 2.5px 2.5px 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
      -ms-transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
          transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
}

/* Show the checkmark when checked */
.checkbox-btn input:checked ~ .checkmark:after {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
      -ms-transform: translate(-50%, -50%) rotate(0deg) scale(1);
          transform: translate(-50%, -50%) rotate(0deg) scale(1);
  -webkit-animation: pulse 1s ease-in;
          animation: pulse 1s ease-in;
}

.checkbox-btn input:checked ~ .checkmark {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border: none;
}

@-webkit-keyframes pulse {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
            transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
  }
}

@keyframes pulse {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
            transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
  }
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(47, 47, 47);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(160, 159, 159, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.button:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.button::before {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: -20px;
  content: "REMOVE";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 12px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

.voltage-button {
  position: relative;
}

.voltage-button button {
  color: white;
  background: #0D1127;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 5rem;
  border: 5px solid #5978F3;
  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s;
}

.voltage-button button:hover {
  cursor: pointer;
  background: #0F1C53;
}

.voltage-button button:hover + svg, .voltage-button button:hover + svg + .dots {
  opacity: 1;
}

.voltage-button svg {
  display: block;
  position: absolute;
  top: -0.75em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 1.5em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}

.voltage-button svg path {
  stroke-dasharray: 100;
  filter: url("#glow");
}

.voltage-button svg path.line-1 {
  stroke: #f6de8d;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

.voltage-button svg path.line-2 {
  stroke: #6bfeff;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.voltage-button .dots .dot {
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}

.voltage-button .dots .dot-1 {
  top: 0;
  left: 20%;
  animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 3s linear infinite;
  animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 3s linear infinite;
  animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 3s linear infinite;
  animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}